.header {
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: white;
}

.header__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}

.header__search {

    flex: 0.4;
    background-attachment: #4D774E;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: white;
    border: 1px gray_solid;
    border: 6px;
}

.header__search > input {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 35vw;
}



.header__right {

    flex: 0.3;
    display: flex;
    align-items: flex-end;
}