.sidebarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.sidebarOption:hover {
    opacity: 0.9;
    background-color: #4D774E;
}

.sidebarOption__icon {
    padding: 10px;
    font-size: 15px !important;
}

.sidebarOption__channel {
    padding: 10px 0;

}

.sidebarOption__hash {
    padding: 10px ;
}

.sidebarOption > h3 {
    font-weight: 500;
}